body {
    margin: 100px auto;
}

h1 {
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
}

.margin {
    width: 400px;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    margin: auto;
}

.inputDiv {
    display:inline-flex;
}

label {
    width: 125px;
    display: inline-block;
    padding: 10px;
}

input[type=text] {
    width: 200px;
    height: 100%;
    padding: 10px;
    border: 2px solid #aaa;
    border-radius: 8px;
    margin: auto;
    box-sizing: border-box;
}

.submitDiv {
    margin:auto;
    font-family: 'Gowun Dodum', sans-serif;
}

.submitDiv > button {
    margin: 10px;
    padding: 10px;
}

.menu {
    margin:auto;
    font-family: 'Gowun Dodum', sans-serif;
}
