body {
    margin: 100px auto;
}

h1 {
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
}

.margin {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    margin: auto;
}

.inputDiv {
    padding: 10px;
    width: 100%;
}

.submitDiv {
    margin:auto;
    font-family: 'Gowun Dodum', sans-serif;
}

.submitDiv > button {
    margin: 10px;
    padding: 10px;
}

.menu {
    margin:auto;
    font-family: 'Gowun Dodum', sans-serif;
}
