<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리 강아지의 MBTI는?</title>
    <Link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
    <h1>우리집 강쥐의<br>MBTI 유형 테스트</h1>
    <form class="puppyInfo" action="/" method="post">
        <div class="margin" style="width:400px;">
            <div class="inputDiv">
                <label for="userName">플레이어 이름:</label>
                <input type="text" name="userName" placeholder="주인님 이름" autofocus required>
            </div>
            <div class="inputDiv">
                <label for="dogName">강아지 이름:</label>
                <input type="text" name="dogName" placeholder="강아지 이름" required>
            </div>
            <div class="submitDiv">
                <button class="" type="submit">제출</button>
            </div>
        </div>
    </form>
</body>
</html>