<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리집 강쥐의 MBTI는?</title>
    <Link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Gowun+Dodum&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="intro_wrap">
      <div class="header_wrap">
        <div class="top_title">
          <h1>우리집 강쥐의<br>MBTI 유형 테스트</h1>
        </div>
      </div>
      <div class="center_wrap">
        <div class="con_wrap">
          <div class="img_result">
            <img src="static/img/intro.jpg">
          </div>
        </div>
        <div class="btn_wrap">
          <form class="" action="/home" method="get">
            <button type="submit">시작하기</button>
        </form>
      </div>
    <title></title>
  </head>
  <body>
    <div class="">
      <form class="" action="/home" method="get">
        <button type="submit">시작하기</button>
      </form>
    </div>
  </body>
</html>
