<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <Link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  </head>
  <body>
    <form class="menu">
      <button type="submit" name="mealBtn" action="/meal" formmethod="get">밥</button>
      <button type="submit" name="goWalkBtn">산책</button>
      <button type="submit" name="snackBtn">간식</button>
      <button type="submit" name="endingBtn">메뉴 종료</button>
      <button type="submit" name="exitBtn">게임 나가기</button>
    </form>
  </body>
</html>
*
