<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    당신과 오늘 함께할 강아지 {{dogName}}입니다.<br>
    오늘 일정이 모두 끝나면 {{dogName}}(을)를 입양해가시기 위한 간단한 테스트가 있으니 {{dogName}}(이)의 성향을 잘 파악해 보시길 바랍니다.<br>
    그럼 {{dogName}}(이)와 오늘 하루 즐거운 시간 보내시기를 바랍니다.<br>
    <form class="menu">
      <button type="button" name="mealBtn" onclick="location.href='/meal'">밥</button>
      <button type="button" name="goWalkBtn" onclick="location.href='/goWalk'">산책</button>
      <button type="button" name="snackBtn" onclick="location.href='/snack'">간식</button>
      <button type="button" name="endingBtn" onclick="location.href='/ending'">메뉴 종료</button>
      <button type="button" name="exitBtn">게임 나가기</button>
    </form>
  </body>
</html>
