<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="menu">
      <button type="button" name="mealBtn" onclick="location.href='/meal'">밥</button>
      <button type="button" name="goWalkBtn" onclick="location.href='/goWalk'">산책</button>
      <button type="button" name="snackBtn" onclick="location.href='/snack'">간식</button>
      <button type="button" name="endingBtn" onclick="location.href='/ending'">메뉴 종료</button>
      <button type="button" name="exitBtn">게임 나가기</button>
    </form>
  </body>
</html>
