<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="correct">
      <!--wrong()-->
      오답입니다..<br>
      아쉽게도 {{myDog['name']}}이를 데려가실 수 없습니다. 다른 인연을 찾으시길 바랍니다.
    </div>
    <div class="quit">
      <!--quit()-->
      <form class="">
        <button type="button" onclick="location.replace('/')">재시작하기</button>
        <button type="button" onclick="window.close()">게임 종료하기</button>
      </form>
    </div>
  </body>
</html>
